.resident-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}
.input button {
  font-size: 1.5rem;
}

h1 {
  color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-container {
  position: relative;
  height: 100px;
  padding-top: 15px;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
}

.banner-text{
  width: 50vw;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}

@media (min-width: 564px) {
  .banner-text{
    width: 35vw
  }
  .banner-container{
    height: 170px
  }
}

@media (min-width: 992px) {
  .banner-container{
    height: 260px
  }
  .banner-text{
    max-width: 360px;
  }
}